body{
    background-color: #007BFF;
    font-family: Arial, Helvetica, sans-serif;
}

.login{
    width: 300px;
    height: auto;
    margin: 100px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login h1{
    align-items: center;
}
.login .form{
    width: 100%;

}